
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

*{background-color: #212121;}
*{color: #fafafa;}
*{font-family: 'Barlow', sans-serif}

h1 {font-size: 120px;
font-weight: 800;}

p {font-size: 48px;
  font-weight: 600;}

  