
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');


* {font-family: 'Mina', sans-serif}

a {color:rgb(55, 0, 255);text-decoration: none;}

h2 {font-size: 30px}
h3 {font-size: 20px}
.fecha {color:grey; font-size:x-small}
span {background-color: gray;}




